*{
    background-color:transparent; 
}

body{
  background-color:  #111;;
}

#profil-img{
    margin-top: 10px;
    border-radius: 50%;
    display: block;
    height: 270px;
    margin: 0 auto 2px;
    text-align: center;
}
#profil-img img{
  border-radius: 50%;
  border: 4px solid #252525;
  height: 180px;
  width: 180px;
  margin-top: 10px;
}
#myName{
  margin: 0px auto;
  color: white;
  font-size: 2em;
  text-align: center;
  
}
#career-id{
  margin: 0;
  color: #f1c40f;
  font-size: 2em;
  text-align: center;
}

#pDetails{
  margin: 0px auto;
  color: white;
  font-size: 1em;
  text-align: center;
  padding: 0.5em;
}

.fa-solid{
  color: white;
  font-size: 30px;
  background-color:#f1c40f;
  border-radius: 50%;
  padding: 8px;
  margin-left: 10px;
  background-color: 'none';
}


#about-btn{
  color: white;
  margin: 10px auto;
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid #f1c40f 1px;
  border-radius: 30px;
  max-width: 250px;
  min-width: 200px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  bottom: 1em;
}

#submit{
  margin: 10px;
  max-width: 250px;

}

#about-btn:hover, #submit:hover{
  background-color: #f1c40f;
}

#nav-Bar {
  margin-top:10px;
  display: flex;
  align-items: center;
  justify-content:center; 
  background-color: #323232;  
  bottom: 0px;
  position: fixed ;
  bottom: 0px ;
  width: 100%;
}
.fa-user, .fa-house, .fa-briefcase, .fa-envelope {
  color: white;
  font-size: 20px;
  background-color:transparent;
  border-radius: 50%;
  padding: 8px;
  margin-left: 10px;
  background-color: 'none';
}
.fa-user:hover, .fa-house:hover, .fa-briefcase:hover, .fa-envelope:hover{
  background-color: #f1c40f;}

  .fa-xmark{
    color: black;
    font-size: 1em;
  }
  h1{
    color:#f1c40f;
  }
  h3{
    margin:5px;
    color: white;
  }

.span-bckg{
    color: #717171;
    opacity: 0.2;
    position: relative;
    z-index: -1;
    top: -68px;
    left: -57px;
    font-size: 3em;
    font-weight: 800;
    animation-name: example;
  animation-duration: 2s;
}
.span-bckg-T{
  color: #717171;
  opacity: 0.2;
  position: relative;
  z-index: -1;
  top: -60px;
  left: -57px;
  font-size: 2.2em;
  font-weight: 800;
  animation-name: example;
animation-duration: 2s;

}

@keyframes example {
  from {left: -57px;}
  to {left: 5px;}
}

.cards{
  margin: 0 auto;
  font-size: 0.8em;
  display:  grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow:row;
  color: white;
  justify-items: center;
  max-width: 600px;
  position: relative;
  bottom: 3em;
}
#network-icons{
  display: flex;
  align-items: center;
  margin: 10px auto;
  align-content: flex-end;
  justify-content: center;
  font-size: 2em;
  color: #f1c40f;
  gap: 20px;
  cursor: pointer;
}

.fa-linkedin:hover,
.fa-github:hover{
  transform: scale(1.5);
  color: aliceblue;

}


.titles{
  color: #f1c40f;

}

nav a.active{
  background-color: #282c34;
}

#details-pop{
  margin: auto 10vw;
  position: absolute;
  font-size: 1.3m;
  z-index: 2;
  background-color: #f1c40f;
  top: -25em;
  opacity: 0.95;
  width: 85vw;
  height: 40vh;
  border-radius: 5px;
  border: solid black 0.5px;
  color:  black;
}

@media (min-width: 600px){
  #pDetails{
    position: relative;
    font-size: 2em;
    margin: 5% 20%;
}
#details-pop{
  margin: auto;
  position: absolute;
  z-index: 2;
  background-color: #f1c40f;
  width: 40vw;
  height: 50vh;
  top: -28em;
  opacity: 0.9;
  color: black;
}
}

.class-form{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  color: white;
  align-items: center;
}
.form-format{
  margin: 10px 20px;
  
}

input{
  opacity: 0.8;
  border: solid  #f1c40f 1px;
  border-radius: 38px;
  padding: 5px;
  width: 90vw;
  color: white;
  
}

label{
  margin: 5px;
}

placeholder{
  color: white;
}

.pop{
  margin: 2px;
  padding: 2px;
  text-align: justify;
}
